body {
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;

  text-align: justify;
}

.container {
  max-width: 860px;
  margin: 0 auto;
}

h1 {
  background-color: #D3C7E6;
}

img {
  height: 300px; 
  width: auto; 
}
